<textarea ng-model="rawLog" ng-change="loadLog()" style="width:10%;vertical-align:top;position:fixed;right:10px;top:10px"></textarea>
<div style="width:20%;vertical-align:top;position:fixed;right:5px;top:0px">
	<button class="btn btn-primary btn-xs" ng-click="optionsCollapsed = !optionsCollapsed">Options</button>
	<div collapse="!optionsCollapsed" class="well">
		<button ng-repeat="color in hilightColors" ng-click="hilight(color)" class="glyphicon glyphicon-stop" ng-style="{color:color,border:'none',background:'none'}"></button>
		<button class="glyphicon glyphicon-share-alt" ng-click="undoHilight()" ng-style="{border:'none',background:'none'}"></button>
	</div>
</div>

<div>
	<div ng-repeat="logObj in logObjs">
		<div ng-show="!logObj.expand" ng-dblclick="expand($index)" style="white-space: nowrap;font-family: 'Courier New'">{{logObj.raw}}</div>
		<div hljs source="logObj.format" language="xml" ng-show="logObj.expand" ng-dblclick="restore($index)">xxxxx</div>
	</div>
</div>