<textarea ng-model="rawXml" ng-change="prettyprint()" style="width:10%;vertical-align:top;position:fixed;right:10px;top:10px"></textarea>
<div style="width:30%;vertical-align:top;position:absolute;right:5px;top:0px">
	<button class="btn btn-primary btn-xs" ng-click="optionsCollapsed = !optionsCollapsed">Options</button>
	<div collapse="!optionsCollapsed" class="well">
		<div>
		<hr/>
		<input type="checkbox" ng-model="options.isDecodeHTMLEntity"/>HTML Entity<br/>
		<input type="checkbox" ng-model="options.isLOMS"/>Decompress LOMS
		<hr/>
		<button class="btn btn-default btn-xs" ng-click="minify()">Minify</button>
	</div>
	</div>
</div>
<div hljs source="formattedXml" contenteditable="true" language="xml"></div>
<div hljs source="minifiedXml" ng-show="minifiedXml" contenteditable="true"></div>